# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# IDE
.vscode/
.idea/

*.json
!package.json
!tasks.json
!launch.json

# Logs
*.log

# Database
*.db
*.sqlite
*.sqlite3
*.db-shm
*.db-wal


# Local DBs and Sensitive Scripts
*.db
scripts/restore_access.py
