services:
  - type: web
    name: payvorax
    runtime: docker
    plan: free
    branch: main
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: PORT
        value: 10000
      - key: DATABASE_URL
        sync: false
